// @forward 'typography';
// @forward 'color/color';
// @forward 'reset';
// @forward 'content';
// @forward 'media';
// @forward 'base';
// @forward 'icon-animations';

// @use 'media' as *;


@mixin app() {
	body,
	html {
		margin: 0;
		background: var(--color-background);

		height: 100vh;
		scroll-snap-type: y mandatory;
		overflow-x: hidden;
	}

	body {
		background-color: var(--color-accent);
		background-image: radial-gradient(ellipse at center,
				var(--color-background) 0%,
				var(--color-background) 50%,
				black 100%);
		background-attachment: fixed;
		background-size: 100% 100%;
		color: var(--color-foreground);
		padding: 0;
		margin: 0;
		font-size: clamp(var(--font-size-base), 1.25vmin, var(--font-size-xl));
		font-family: var(--font-family-body);

		scroll-behavior: smooth;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		scrollbar-width: thin;
		scrollbar-color: var(--color-primary) color-mix(in srgb, var(--color-foreground), transparent 90%);
	}
}
